#map {
  height: 500px; }

.navbar {
  border-bottom: 1px solid #ddd; }

.hero h1 {
  color: #444;
  font-size: 46px; }

.hero p {
  color: #444;
  font-size: 23px; }

.fc table {
  margin-bottom: 0 !important; }

.main-search-wrapper .inner {
  background: rgba(0, 0, 0, 0.5); }

.hotel-aktivitaet h2 {
  margin-top: 0; }

#calendar {
  width: 95%; }

.places,
.activities {
  padding: 10px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 400px;
  overflow: auto; }

.place, .activity {
  -webkit-transition: all 0s !important;
  -o-transition: all 0s !important;
  transition: all 0s !important; }

.kalender-menue {
  margin-top: 70px; }

.places .btn {
  letter-spacing: 1px;
  height: 130px;
  text-align: left; }

.activities .btn {
  font-size: 13px;
  height: 50px; }

.places img {
  margin-right: 20px; }

.places .btn h5 {
  margin-top: 0; }

.places .btn p {
  font-weight: normal; }

/*# sourceMappingURL=custom.css.map */
